.whole, .half, .third, .third-x2, .quarter, .quarter-x3, .sixth, .twelveth{
    float:left;
    padding:0;
    margin: 0 2% 0 0;
}

.last { margin-right:0;
    padding-right: 0 !important;}

.whole { width: 100%; }

.half { width: 49%; }

.third { width: 32%; } .third-x2 { width: 64%; }

.quarter { width: 23.5%; } .quarter-x3 { width: 74.5% }

.sixth { width: 15%; } .sixth-x5 { width: 83%; }

.twelveth { width: 5.4%; }

body {
    font-family: 'Lato';
    background-color: #F4F4F4;

}

@media (max-width: 600px) {
    body{
        background-color: darkgray;
    }
}


.fa-btn {
    margin-right: 6px;
}

#nav{
    background-color: #373737;
}

#nav a{
    font-weight: bold;
    font-size: 17px;
    color: whitesmoke;
}

#nav a:hover{
    color: powderblue;
}

/*.navbar-brand>img{*/
    /*margin-top: -10px;*/
    /*height: 45px;*/
/*}*/

.navbar-brand{
    background-image: url('../img/mmLogoSmoothLink.png');
    background-size: 87px 90px;
    background-repeat: no-repeat;
    height: 45px;
    width: 86px;
    margin-top: 3px;
    background-position: 0 0px;
}
.navbar-brand:hover{background-position: 0 -45px;}
.navbar-brand:active{background-position: 0 -45px;}


nav .dropdown-menu{
    background-color: #494949;
    color: whitesmoke;
}

nav .dropdown-menu a:hover{
    background-color: #494949;
    color: powderblue;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
    background-color: #494949;
    color: #E7DFDD;
}

.last{
    margin-right: 0;
}

.btn{
    background-color: #373737;
    color: #E7DFDD;
    padding-top: 9px;
    padding-bottom: 9px;
}

.colonyBtn{
    /*background-color: #ec971f;*/
}


.btn:hover{
    background-color: #E7DFDD;
    color:#373737;
}

a{
    color:#373737;
}

a:hover{
    color:#373737;
}

table th, td{
    align: center;
}