body {
    font-family: 'Lato';
    background-color: #F4F4F4;

}

@media (max-width: 600px) {
    body{
        background-color: darkgray;
    }
}


.fa-btn {
    margin-right: 6px;
}

#nav{
    background-color: #373737;

}

.navbar-brand>img{
    margin-top: -10px;
    height: 45px;
}